<style>
  .main-menu-link{
    font-size: 13px;
    text-transform: uppercase;
  }
  .header-section{
      width: 92vw
  }
  .text-colored{
    color: #cc0066 !important;
  }
  .main-menu-link-first{
    background-color: #4A1E54;
  }
  .topbar-menu-item{
   background-color: #4E4E4E;
   margin: 0 3px;
  }
  .topbar-menu-item a{
    font-size: 12px;
    font-weight: 600;
  }
  @media only screen and (max-width: 992px) {
    .responsive-center{
      text-align: center !important;
    }
    .responsive-nav-menu{
      justify-content: space-around !important;
    }
    .topbar-nav-container{
      justify-content: center !important;
      margin-top: 15px;
    }
    .header-section{
      width: 98vw;
    }
  }
</style>
<div>
    <div class="py-3" style="background-color: #2F2F2F;">
      <div class="row header-section mx-auto align-items-center">
        <div class="col-xl-6 col-lg-12">
          <div class="responsive-center">
            <a class="text-decoration-none text-white fs-6" href="tel:1-877-800-7603">1-877-800-7603</a> <span class="fs-6" style="color: #cc0066;">I  Speak with a representative today!</span>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
              <div>
                  <div class="d-flex justify-content-xl-end topbar-nav-container">
                      <span class="d-inline-block text-white topbar-menu-item px-3 py-2"><a class="text-white text-decoration-none" href="#"><span class="text-colored">0</span> Lists In Basket</a></span>
                      <span class="d-inline-block text-white topbar-menu-item px-3 py-2"><a class="text-white text-decoration-none" href="#"><img width="20" height="20" src="/header-icon-cart.webp" alt=""></a></span>
                      <span class="d-inline-block text-white topbar-menu-item px-3 py-2"><a class="text-white text-decoration-none" href="#">total: <span class="text-colored">$0.00</span></a></span>
                  </div>
              </div>
        </div>
      </div>
    </div>
    <div class="py-4" style="background-color: #660066;">
        <div class="row header-section align-items-center mx-auto">
            <div class="col-xl-4 col-9">
              <div class="logo responsive-center">
                  <img width="350" height="55" src="/logo - header.png" alt="logo">
              </div>
            </div>
            <div class="col-xl-8 col-3 text-end">
              <nav class="navbar navbar-expand-lg  navbar-dark">
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
              <ul class="d-flex justify-content-between m-0 me-auto responsive-nav-menu navbar-nav" style="list-style-type: none;">
                <li class="nav-item main-menu-link-first rounded"><a class="text-decoration-none text-white main-menu-link rounded nav-link" href="https://emailzipcode.net/index.php">Home</a></li>
                <li class="nav-item"><a class="text-decoration-none text-white main-menu-link nav-link" href="https://emailzipcode.net/buy-email-addresses.php"><img width="20" height="20" src="/header-icon-search.webp" alt=""> consumer Search</a></li>
                <li class="nav-item"><a class="text-decoration-none text-white main-menu-link nav-link" href="https://emailzipcode.net/faq.php">FAQ</a></li>
                <li class="nav-item"><a class="text-decoration-none text-white main-menu-link nav-link" href="/cold-email-bootcamp">COLD EMAIL BOOTCAMP</a></li>
                <li class="nav-item"><a class="text-decoration-none text-white main-menu-link nav-link" href="https://emailzipcode.net/specialty-lists.php">Specialty Lists</a></li>
                <li class="nav-item"><a class="text-decoration-none text-white main-menu-link nav-link" href="https://emailzipcode.net/pricing.php">Pricing</a></li>
                <li class="nav-item"><a class="text-decoration-none text-white main-menu-link nav-link" href="https://emailzipcode.net/contact.php">Contact Us</a></li>
              </ul>
            </div>
            </nav>
            </div>
        </div>
    </div>
</div>